
<div class="row">
	<div class="span12">
		<h1 class="title">Edit <%= @user.screen_name %>  <span class="btn-group">
			<%= link_to raw('<i class="icon-file"></i>  View'), @user, class: 'btn' %>
			<%= link_to raw('<i class="icon-chevron-left"></i>  Back'), users_path, class: 'btn' %>
		</span></h1>
	</div>
</div>

<div class="row">
	<div class="span8 offset1">
		<%= render 'form' %>
	</div>
</div>