<div class="well about-me">
	<h1 class="title">About :: Me <small>I am a designer, developer and all around swell guy</small></h1>
</div>
<div class="pic" style="height:250px; width: 250px; border: 1px solid #333; background-color:#999; box-shadow: 0 0 -5px 25px rgba(33,33,33,.5);"> Where Should I get this from?</div>
<!-- TODO: FIND A PIC -->
<p>Essentially, this is a code demo that is meant to showcase some of the varied skills that I have as a portfolio. the design is meant to be generic but useful. If you don't like it, feel free to hire me and I'd love to create yo ua design that you do.</p>
<p>Folio uses the following technologies:</p>
<dl>
	<dt>Front End</dt>
		<dd>Backbone.js</dd>
		<dd>Twitter Bootstrap</dd>
		<dd>LESS css</dd>
		<dd>jQuery</dd>
		<dd>javascript</dd>
		<dd>HTML 5</dd>
		<dd>CSS 3</dd>
	<dt>Database Technologies</dt>
		<dd>MongoDB</dd>
		<dd>Rails 3</dd>
	<dt>Server Configuration</dt>
		<dd>Puppet</dd>
		<dd>Vagrant - <em>For Local Testing</em></dd>
		<dd>Heroku - <em>For Global</em></dd>
</dl>

<!-- TODO: FIND SOME Sweet Graphs to put up here to show skill strengls flot? -->
<p>Feel like you'd really like more? I also have skills in the following areas:
	<ul>
		<li>PHP &mdash; <em>I've been coding with PHP for the last 7 years. I'm familiar with frameworks like Wordpess, Drupal and Joomla. I also have experience working with pure PHP code coding for custom cms and other sites.</li>
		<li>MySQL &mdash; <em>This site currently uses </em></li>
		<li></li>
	</ul>
</p>

<p>
	If you would like to contract out for my services, you can reach me at ...
</p>
